h1{
    text-align: center;
    text-decoration: underline;
}

h2{
    text-decoration: underline;
    font-size: 28px;
}

body{
    background: lightgrey;;
}

form{
    background: white;
    text-align: center;
    padding: 20px;
}

p{
    padding: 5px;
}

button{
    margin: 20px;
    font-size: 30px;
    background-color: lightgray;
}

#billamount{
    font-size: 24px; 
    margin: 0;
}

#tipamount{
    font-size: 24px; 
    margin: 0;
}

#billcalculator{
    border: 5px;
    border-style: double;
    border-color: darkblue;
}

#totals{
    background: white;
    padding: 20px;
    margin-top: 50px;
    border: 5px;
     border-style: double;
    border-color: darkblue;
    text-align: center;
}

small{
    font-size: 16px;
    font-style: italic;
}